{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Bikes To Rent</title>
	<link rel = "stylesheet" href = "{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/rent.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

	<section class="bikestorent" id="bikestorent">

        <p id="logout-button"><a href="{% url 'logout' %}">Log out</a></p>

    <h1 class="heading"> Available <span>Bikes</span> To Rent </h1>
    <h2>Call us at 0115501903, to rent the available bikes</h2>

    <div class="swiper bikestorent-slider">

       <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img class="round-corner" src="{% static 'images/bike8.jpg' %}" alt="">
                <div class="content">
                    <h3>Merc</h3>
                    <div class="price">$35/hr-</div>
                    <a href="#contact" class="btn">rent</a>
                </div>
            </div>

            <br>    

                    <div class="swiper-slide box">
                <img class="round-corner" src="{% static 'images/bike13.jpg' %}" alt="">
                <div class="content">
                    <h3>Job</h3>
                    <div class="price">$45/hr-</div>
                    <a href="#contact" class="btn">rent</a>
                </div>
            </div>

            <br>

                    <div class="swiper-slide box">
                <img class="round-corner" src="{% static 'images/bike10.jpg' %}" alt="">
                <div class="content">
                    <h3>Merc</h3>
                    <div class="price">$55/hr-</div>
                    <a href="#contact" class="btn">rent</a>
                </div>
            </div>

            <br>

                <div class="swiper-slide box">
                <img class="round-corner" src="{% static 'images/bike11.jpg' %}" alt="">
                <div class="content">
                    <h3>Pol</h3>
                    <div class="price">$50/hr-</div>
                    <a href="#contact" class="btn">rent</a>
                </div>
            </div>

            <br>

                <div class="swiper-slide box">
                <img class="round-corner" src="{% static 'images/bike12.jpg' %}" alt="">
                <div class="content">
                    <h3>Tom</h3>
                    <div class="price">$65/hr-</div>
                    <a href="#contact" class="btn">rent</a>
                </div>
            </div>

             </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script src="{% static 'javascript/script.js' %}"></script>

</body>
</html>